<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Russian Symfony Community - Symfoniacs</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-G3G7OsJCbOk1USkOY4RfeX1z27YaWrZ1YuaQ5tbuawed9IoreRDpWpTkZLXQfPm3"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link href="<%= htmlWebpackPlugin.options.assetsPublicPath %>/assets/css/main.css" rel="stylesheet">
</head>
<body>

<div class="container static-content">
    <h1>Russian Symfony Community &mdash; Symfoniacs</h1>

    <p>Community of PHP/Symfony developers</p>
    <div class="sy-logo"><img src="<%= htmlWebpackPlugin.options.assetsPublicPath %>/assets/images/logo.png" width="200" alt="logo"></div>

    <h2>Links:</h2>

    <div class="sy-links">
        <a href="https://telegram.me/symfoniacs"><i class="fa fa-telegram"></i> Chat in Telegram</a>
        <a href="https://github.com/ru-symfoniacs"><i class="fa fa-github"></i> Github</a>
        <a href="https://twitter.com/symfoniacsmsk"><i class="fa fa-twitter"></i> Twitter channel</a>
        <a href="https://vk.com/symfoniacs"><i class="fa fa-vk"></i> Vk.com group</a>
        <a href="https://www.youtube.com/channel/UCeJmv3YIHb0UrHUbJ23wADA"><i class="fa fa-youtube-play"></i> Youtube.com channel</a>
    </div>
</div>

<div class="container">
    <div id="app"></div>
</div>
<!-- built files will be auto injected -->
</body>
</html>