body{
    padding-top: 20px;
    padding-bottom: 40px;
}

.container.static-content{
    text-align: center;
}

.sy-links {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.sy-links a{
    font-size: 1.5rem;
    line-height: auto;
    font-weight: normal;
    white-space: normal;
    margin: 2px 5px;
    width: 70px;
}
.sy-links__icon{
    clear: both;
    display: block;
}