body{
    padding-top: 20px;
    padding-bottom: 40px;
}

.container.static-content{
    text-align: center;
}

.sy-links {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    /*flex-direction: column;*/
    align-items: center;
}
.sy-links a{
    font-size: 1.5rem;
    line-height: auto;
    font-weight: normal;
    white-space: normal;
    margin: 2px 5px;
}